div{
    min-width: 10rem;
    min-height: 10rem;
    border: 1px solid black;
    padding: 2rem;
    
}

.btn{
background-color: red;
}
#main-btn{
    background-color: rgb(85, 139, 85);
}
.container{
    display:flex;
    height: 2px;
}
.logo{
   flex-grow: 1;
}
.separte{
    padding:10px
}
.link{
    color: yellow;
}
.link:hover{
    color: green;
}
.link:active{
    color: red;
}
.link:visited{
    color: black;
}
/* //inline,id,class,element */